.botoes {

    background: #B9DFFF;
    
    color: #fff;

    align-self: center;

    width: 100px;

    height: 0.8cm;
    
    
    }

#titulo {

    text-align: center;
    
}

.inputs {
    margin: 0 15px;
    width: 130px;
}