<h1 id="titulo">CRUD - PRODUTOS</h1>

<br>
<div>
    <h2> Cadastro </h2>
    <a>Nome:</a>
    <input class="inputs" placeholder="Nome do produto" type="text" [(ngModel)] = "nome"> 


    <a> Preço:</a>
    <input class="inputs" type="number" [(ngModel)] = "preco">

    <a>Quantidade:</a>
    <input style="width:50px; margin: 0 15px" type="number" [(ngModel)] = "quantidade">

    <a>Data de validade: </a>
    <input class="inputs" type="date" [(ngModel)] = "validade">

    <button class="botoes" (click)="createProduto()">Cadastrar</button>

</div>

<br><br>
<div>
    <h2>Busca</h2>
    <a>Digite o nome do produto:</a>
    <input name="nomeBusca" type="text" placeholder="Nome do produto" class="inputs" [(ngModel)] = "nomeBusca">
    <button class="botoes" (click) = "searchProduto()" >Pesquisar</button>
    <ul *ngFor="let produto of produtosexibicao">
        <ul>
            <h3>Resultado</h3>
            <p> Nome: {{produto.nome }} </p>
            <p> Preço: R${{produto.preco}} </p>
            <p> Quantidade: {{produto.quantidade}} </p>
            <p> Data de validade: {{produto.validade}}</p>
            <button class="botoes" style="margin: 15px" (click) = "deleteProduto(produto.nome)"> Remover</button>
            <br>

            <a> Preço:</a>
            <input class="inputs" type="number" [(ngModel)] = "precoNovo">

            <a>Quantidade:</a>
            <input style="width:50px; margin: 0 15px" type="number" [(ngModel)] = "quantidadeNovo">

            <a>Data de validade:</a>
            <input class="inputs" type="date" [(ngModel)] = "validadeNovo">
            <button class="botoes" style="margin: 15px" (click) = "updateProduto(produto.nome)">Atualizar</button>
        </ul>
    </ul>
    
    

</div>


